:root {
	--ingredients-border-color: #1A1F1D;
	--ingredients-border-radius: 7px;
  --ingredients-background-color: #F5F5F5;
	--navbar-background-color: #1A1F1D;
	--navbar-text-color: #ffffff;
	--ingredients-text-color: #1A1F1D;
	--ingredients-border-width: .5px;
	--button-color: #81B29A;
}

html * {
	font-family: "Times New Roman", Times, serif;
}

.sign-up-login{
	margin: auto;
	width: 20%;	
	text-align: center;
	border: 1px solid #ADD8E6;
	border-radius:5px;
}

.navbar-custom {
  background: var(--navbar-background-color);
}

.navbar-brand {
	color: var(--navbar-text-color);
	font-size: 56px;
}

.nav-link {
	color: var(--navbar-text-color);
	font-size: 48px;
}

#ingredients-body {
	background-color: var(--ingredients-background-color);
	color: var(--ingredients-text-color)
}

#ingredient-container {
	margin: auto;
	width: 99%;
	margin-top: .25em;
}

.grid-container {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2px;
}

#ingredient-changer {
	text-align:center;
	margin-right: .25em;
}

#ingredient-changer-quick-add {
	border: var(--ingredients-border-width) solid var(--ingredients-border-color);
	border-radius: var(--ingredients-border-radius);
	padding: .5em;
	margin-top: .25em;
	margin-bottom: .25em;
}

#ingredient-changer-long-add {
	border: var(--ingredients-border-width) solid var(--ingredients-border-color);
	border-radius: var(--ingredients-border-radius);
	padding: .5em;
	margin-top: .25em;
	margin-bottom: .25em;
}

#ingredient-changer-header {
	border: var(--ingredients-border-width) solid var(--ingredients-border-color);
	border-radius:var(--ingredients-border-radius);
	text-align:center;
}

#ingredient-quick-add {
	margin:auto;
}

#ingredient-list-header {
	flex-grow:1;
	border:var(--ingredients-border-width) solid var(--ingredients-border-color);
	border-radius:var(--ingredients-border-radius);
	text-align: center;
	margin-bottom: .25em;
}

#ingredient-lister {
	margin-left: .25em;
	text-align:center;
}

.list-group-item {
	background-color: var(--ingredients-background-color);
	color: var(--ingredients-text-color);
	margin-top: 1px;
	border: var(--ingredients-border-width) solid var(--ingredients-border-color);
}

#ingredient-greeter{
	margin: auto;
	text-align: center;
	width: 99%;
	border:var(--ingredients-border-width) solid var(--ingredients-border-color);
	border-radius:var(--ingredients-border-radius);
	margin-top: .25em;
	margin-bottom: .25em;
}

#user-welcome h1 {
	color: #ffffff;
	text-align: center;
	margin: auto;
	margin-top:100px;
	font-size: 10rem;
	font-family: "Times New Roman", Times, serif;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color:black;
	text-decoration: underline;
}

#home-body {
	background: url('imgs/kitchen2.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	min-height:100%;
	background-position:bottom left;
}

#background-image {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.btn-custom {
	color: var(--ingredients-text-color);
	background-color: var(--button-color);
	border-color: var(--button-color);
}

#recipe-body{
	background-color: var(--ingredients-background-color);
	color: var(--ingredients-text-color)
}

#recipe-list {
	
}

