:root {
	--ingredients-border-color: #F4F1DE;
	--ingredients-border-radius: 7px;
	--ingredients-background-color: #313349;
	--ingredients-text-color: #F4F1DE;
	--ingredients-border-width: .5px;
	--button-color: #81B29A;
}

html * {
	font-family: Optima, sans-serif;
}

.sign-up-login{
	margin: auto;
	width: 20%;	
	text-align: center;
	border: 1px solid #ADD8E6;
	border-radius:5px;
}

.navbar-custom {
	background-color: var(--ingredients-background-color);
}
.navbar-brand {
	color: var(--ingredients-text-color);
	font-size: 36px;
}
.nav-link {
	color: var(--ingredients-text-color);
	font-size: 24px;
}
#ingredients-body {
	background-color: var(--ingredients-background-color);
	color: var(--ingredients-text-color)

}
#ingredient-container {
	margin: auto;
	width: 99%;
	margin-top: .25em;
}

.grid-container {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2px;
}

#ingredient-changer {
	text-align:center;
	margin-right: .25em;
}

#ingredient-changer-quick-add {
	border: var(--ingredients-border-width) solid var(--ingredients-border-color);
	border-radius: var(--ingredients-border-radius);
	padding: .5em;
	margin-top: .25em;
	margin-bottom: .25em;
}

#ingredient-changer-long-add {
	border: var(--ingredients-border-width) solid var(--ingredients-border-color);
	border-radius: var(--ingredients-border-radius);
	padding: .5em;
	margin-top: .25em;
	margin-bottom: .25em;
}

#ingredient-changer-header {
	border: var(--ingredients-border-width) solid var(--ingredients-border-color);
	border-radius:var(--ingredients-border-radius);
	text-align:center;
}

#ingredient-quick-add {
	margin:auto;
}

#ingredient-list-header {
	flex-grow:1;
	border:var(--ingredients-border-width) solid var(--ingredients-border-color);
	border-radius:var(--ingredients-border-radius);
	text-align: center;
	margin-bottom: .25em;
}
#ingredient-lister {
	margin-left: .25em;
	text-align:center;
}
.list-group-item {
	background-color: var(--ingredients-background-color);
	color: var(--ingredients-text-color);
	margin-top: 1px;
	border: var(--ingredients-border-width) solid var(--ingredients-border-color);
}

#ingredient-greeter{
	margin: auto;
	text-align: center;
	width: 99%;
	border:var(--ingredients-border-width) solid var(--ingredients-border-color);
	border-radius:var(--ingredients-border-radius);
	margin-top: .25em;
	margin-bottom: .25em;
}

#home-body {
	background-color: var(--ingredients-background-color);
	color: var(--ingredients-text-color);
}

#user-welcome {
	border:var(--ingredients-border-width) solid var(--ingredients-border-color);
	border-radius:var(--ingredients-border-radius);
}

.btn-custom {
	color: var(--ingredients-text-color);
	background-color: var(--button-color);
	border-color: var(--button-color);
}